name: CI MLflow Heart Failure

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Ambil kode dari repository GitHub
      - name: Checkout Repository
        uses: actions/checkout@v3

      # 2. Setup Python versi 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # 3. Install MLflow dan library pendukung
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas scikit-learn

      # 4. Jalankan MLflow Project (Otomatis re-training)
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local
